body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  
}

img {
   pointer-events: auto; 
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  drag: none;
   animation: fadeInImage 0.8s ease-out forwards;
  animation-delay: 0.3s;
}
.nodrag, [class*="bg-"], [style*="background-image"] {
  user-select: none;
  pointer-events: auto;
}
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.fade-image {
  opacity: 0;
  animation: fadeInImage 0.8s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes fadeInImage {
  to {
    opacity: 1;
  }
}
